<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" media="screen">
    <script th:href="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <link th:href="@{static/spring-core.css}" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
    <title>Spring MVC - Products</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Products List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image URL</th>
                <th>Options</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.imageURL}"></td>
                <td>
                    <a th:href="${'/product/' + product.id}">Details</a>
                    <span> | </span>
                    <a th:href="${'/product/edit/' + product.id}">Edit</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <a th:href="${'/product/new'}">New Product</a>
    </div>
</div>
</body>
</html>